md-card {
    margin: 25px;
}

md-card-subtitle {
    color: red;
}

.newTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    md-card {
        margin: 15px;
    }
}