md-card {
    margin: 25px;
}

md-card-title {
    color: #00BCD4;
}

.newTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media (max-width: 768px) {
    md-card {
        margin: 15px;
    }
}