<md-card *ngIf="overdueTasks.length > 0">
    <md-card-title>Overdue</md-card-title>
    <md-card-content>
        <md-list>
            <daily-tasks-item *ngFor="let task of overdueTasks; let taskIndex = index" 
            [dailyTask]="task" [lastTask]="taskIndex === overdueTasks.length-1">
            </daily-tasks-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card *ngIf="todaysTasks.length > 0">
    <md-card-title>Today</md-card-title>
    <md-card-content>
        <md-list>
            <daily-tasks-item *ngFor="let task of todaysTasks; let taskIndex = index" 
            [dailyTask]="task" [lastTask]="taskIndex===todaysTasks.length-1">
            </daily-tasks-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card *ngIf="tomorrowsTasks.length > 0">
    <md-card-title>Tomorrow</md-card-title>
    <md-card-content>
        <md-list>
            <daily-tasks-item *ngFor="let task of tomorrowsTasks; let taskIndex = index" 
            [dailyTask]="task" [lastTask]="taskIndex === tomorrowsTasks.length-1">
            </daily-tasks-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card *ngIf="laterTasks.length > 0">
    <md-card-title>Later</md-card-title>
    <md-card-content>
        <md-list>
            <daily-tasks-item *ngFor="let task of laterTasks; let taskIndex = index" 
            [dailyTask]="task" [lastTask]="taskIndex === laterTasks.length-1">
            </daily-tasks-item>
        </md-list>
    </md-card-content>
</md-card>

<md-card *ngIf="withoutDateTasks.length > 0">
    <md-card-title>Without Date</md-card-title>
    <md-card-content>
        <md-list>
            <daily-tasks-item *ngFor="let task of withoutDateTasks; let taskIndex = index" 
            [dailyTask]="task" [lastTask]="taskIndex === withoutDateTasks.length-1">
            </daily-tasks-item>
        </md-list>
    </md-card-content>
</md-card>

<span class="newTaskButton">
    <button md-fab (click)="openNewDailyTaskDialog()">
        <md-icon>add</md-icon>
    </button>
</span>