h3 {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.task-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.newTaskButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}