<span *ngIf="data.isNewHabit">
    <md-toolbar color="accent">
        <span>Add Habit</span>
    </md-toolbar>
    <div md-dialog-content>
        <md-input-container>
            <input mdInput placeholder="Habit Title" type="text" name="habitTitle" [(ngModel)]="habitTitle">
        </md-input-container>
    </div>
    <div md-dialog-actions>
        <button md-button color="primary" (click)="addHabit()">Add</button>
    </div>
</span>

<span *ngIf="!data.isNewHabit">
    <md-toolbar color="accent">
        <span>Edit Habit</span>
    </md-toolbar>
    <div md-dialog-content>
         <md-input-container>
            <input mdInput placeholder="Habit Title" type="text" name="habitTitle" [(ngModel)]="habitTitle">
        </md-input-container>
    </div>
    <div md-dialog-actions>
        <button md-button color="primary" (click)="editHabit(data.habitId)">Edit</button>
        <button md-button color="warn" (click)="removeHabit(data.habitId)">Delete</button>
    </div>
</span>