<span *ngIf="data.isNewTask">
    <h1 md-dialog-title>Add Daily Task</h1>
    <div md-dialog-content>
        <md-input-container>
            <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle">
            <input mdInput type="date" name="taskDate" [(ngModel)]="taskDate">
        </md-input-container>
    </div>
    <div md-dialog-actions>
        <button md-raised-button color="primary" (click)="addTask()">Add</button>
    </div>
</span>

<span *ngIf="!data.isNewTask">
    <h1 md-dialog-title>Edit Daily Task</h1>
    <div md-dialog-content>
         <md-input-container>
            <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle">
            <input mdInput type="date" name="taskDate" [(ngModel)]="taskDate">
        </md-input-container>
    </div>
    <div md-dialog-actions>
        <button md-raised-button color="primary" (click)="editTask(data.taskId)">Edit</button>
        <button md-raised-button color="warn" (click)="removeTask(data.taskId)">Delete</button>
    </div>
</span>