<span *ngIf="data.isNewTask">
    <h1 md-dialog-title>Add Daily Task</h1>
    <div md-dialog-content>Lorem Ipsum</div>
    <div md-dialog-actions>
        <md-input-container>
            <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle">
        </md-input-container>
        <button md-button (click)="dialogRef.close(taskTitle)">Add Task</button>
    </div>
</span>

<span *ngIf="!data.isNewTask">
    <h1 md-dialog-title>Edit Daily Task</h1>
    <div md-dialog-content>Lorem Ipsum</div>
    <div md-dialog-actions>
        <md-input-container>
            <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle">
        </md-input-container>
        <button md-button (click)="dialogRef.close(taskTitle)">Edit Task</button>
    </div>
</span>