<span *ngIf="data.isNewTask">
    <md-toolbar color="accent">
        <span>Add Daily Task</span>
    </md-toolbar>
    <table md-dialog-content>
        <tr>
            <md-input-container>
                <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle" required>
                <md-error>This field is required</md-error>
            </md-input-container>
        </tr>
        <tr>
            <md-input-container>
                <input mdInput type="date" name="taskDate" [(ngModel)]="taskDate">
            </md-input-container>
        </tr>
    </table>
    <div md-dialog-actions>
        <button md-button color="primary" (click)="addTask()">Add</button>
    </div>
</span>

<span *ngIf="!data.isNewTask">
    <md-toolbar color="accent">
        <span>Edit Daily Task</span>
    </md-toolbar>
    <table md-dialog-content>
        <tr>
            <md-input-container>
                <input mdInput placeholder="Task Title" type="text" name="taskTitle" [(ngModel)]="taskTitle" required>
                <md-error>This field is required</md-error>
            </md-input-container>
        </tr>
        <tr>
            <md-input-container>
                <input mdInput type="date" name="taskDate" [(ngModel)]="taskDate">
            </md-input-container>
        </tr>
    </table>
    <div md-dialog-actions>
        <button md-button color="primary" (click)="editTask(data.taskId)">Edit</button>
        <button md-button color="primary" (click)="removeTask(data.taskId)">Delete</button>
    </div>
</span>