md-icon {
    color: #737373;
}

md-list-item h3 {
    color: #737373;
}

.overdue-date {
    color: #F44336 !important;
}

.task-border {
    border-bottom: 1px solid #e0e0e0;
}

.taskComplete {
    text-decoration: line-through;
}

.completionButton {
    height: initial !important;
}

.button {
    height: initial !important;
}