md-card {
    margin: 25px;
}

md-card-title {
    color: #00BCD4;
}

md-card-subtitle {
    text-align: center;
}

md-card-subtitle button {
    width: 49%;
}

.newHabitButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
}