<span>
    <button *ngIf="previousWeekDate" (click)="changeToPreviousWeek()">Previous</button>
    <button *ngIf="nextWeekDate" (click)="changeToNextWeek()">Next</button>
</span>

<md-card>
    <md-toolbar color="accent">
        <span>Habits</span>
    </md-toolbar>
        <span *ngIf="shownWeekHabits.length > 0">
            <span  *ngFor="let habit of shownWeekHabits">
                <habits-item [habit] = "habit" [shownWeekDate]="shownWeekDate" class="habit-row"></habits-item>
            </span>
            <md-divider></md-divider>
        </span>
</md-card>
<span class="newHabitButton">
    <button md-fab (click)="openNewHabitDialog()">
        <md-icon>add</md-icon>
    </button>
</span>