<md-card>
    <md-card-title>Daily Tasks</md-card-title>
    <md-card-content>
        <md-list>
            <span *ngIf="overdueTasks.length > 0">
                <inbox-daily-tasks-item *ngFor="let task of overdueTasks" [dailyTask]="task" [overdue]="true"></inbox-daily-tasks-item>
            </span>
            <span *ngIf="todaysTasks.length > 0">
                <inbox-daily-tasks-item *ngFor="let task of todaysTasks; let taskIndex = index" 
                [dailyTask]="task" [overdue]="false" [lastTask]="taskIndex === todaysTasks.length-1">
                </inbox-daily-tasks-item>
            </span>
        </md-list>
    </md-card-content>
</md-card>