<md-card>
    <md-card-title>Welcome to Success Planner</md-card-title>
    <md-card-content>
        <p>Success planner is a sample application that was made for a Bachelor's thesis
        titled "Progressive web application as an alternative for the development of mobile applications".</p>
        <p>The application helps you to set daily and monthly tasks, build new habits, and keep track of
        your progress in doing them.</p>
        <p>You can look at the project's code on <a href="https://github.com/lohmuss/success-planner">GitHub</a><p>
    </md-card-content>
</md-card>