.content {
  background: #F5F5F5;
  height: calc(100% - 64px);
  overflow: auto;
}

md-sidenav {
  min-width: 288px;
  width: 288px;
}

md-sidenav button {
  width: 100%;
  text-align: left;
}

md-sidenav md-icon {
  color: #737373;
  padding-right: 15px;
}

@media (max-width: 768px) {
  md-sidenav {
    min-width: 240px;
    width: 240px;
  }
}
