<span>
    <md-card>
        <md-card-header>
            <md-card-title (click)="openEditHabitDialog(habit.id)">{{ habit.title }}</md-card-title>
        </md-card-header>
        <md-card-actions *ngIf="shownWeek">
            <span *ngFor="let day of shownWeek.days; let dayIndex = index">
                <span>{{weekDays[dayIndex]}}</span>
                <md-icon mat-list-avatar *ngIf="!day" (click)="changeHabitCompletion(habit.id, dayIndex, shownWeek)">check_box_outline_blank</md-icon>
                <md-icon mat-list-avatar *ngIf="day" (click)="changeHabitCompletion(habit.id, dayIndex, shownWeek)">check_box</md-icon>
            </span>
        </md-card-actions>
    </md-card>
<span>
